<h1>All Purchases</h1>

<p>
Displaying all purchases:
</p>

<div class="purchases">
  <ul>
    <% @purchases.each do |p| %>
    <li><%= p.date %>: \<%= p.amount %> (<%= p.comment %>)</li>
    <% end %>
  </ul>
</div>
